<div class="page-wraper">
   <div class="account-form">
      <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
         <a href="index.html"><img src="assets/images/logo-white-2.png" alt=""></a>
      </div>
      <div class="account-form-inner">
         <div class="account-container">
            <div class="heading-bx left">
               <h2 class="title-head">Sign Up <span>Now</span></h2>
               <p>Login Your Account <a href="login.html">Click here</a></p>
            </div>
            <%= form_with(url: "/register",class: "contact-bx" ,method: "post") do %>
            <div class="row placeani">
               <div class="col-lg-12">
                  <div class="form-group">
                     <div class="input-group">
                        <label>Your Name</label>
                        <input name="user[fullname]" type="text" required="" class="form-control">
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="form-group">
                     <div class="input-group">
                        <label>Your Email Address</label>
                        <input name="user[email]" type="email" required="" class="form-control">
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="form-group">
                     <div class="input-group"> 
                        <label>Your Password</label>
                        <input name="user[password_digest]" type="password" class="form-control" required="">
                     </div>
                  </div>
               </div>
               <div class="col-lg-12 m-b30">
                  <button name="submit" type="submit" value="Submit" class="btn button-md">Sign Up</button>
               </div>
               <div class="col-lg-12">
                  <h6>Sign Up with Social media</h6>
                  <div class="d-flex">
                     <a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                     <a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
                  </div>
               </div>
            </div>
            <% end %>
         </div>
      </div>
   </div>
</div>