/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 /*=========================
	All css
==========================*/
@import "vendors/bootstrap/css/bootstrap.min.css";
@import "vendors/fontawesome/css/font-awesome.min.css";
@import "vendors/themify/themify-icons.css";
@import "vendors/owl-carousel/owl.carousel.css";
@import "vendors/bootstrap-select/bootstrap-select.min.css";
@import "vendors/magnific-popup/magnific-popup.css";
@import "vendors/scroll/scrollbar.css";
@import "vendors/switcher/switcher.css";

/*=========================
	All css
==========================*/

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/
